@font-face {
    font-family: 'Lato-Black';
    src: url('Lato-Black.eot');
    src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('Lato-Black.ttf') format('tryetype'),
        url('Lato-Black.woff2') format('woff2'),
        url('Lato-Black.woff') format('woff'),
        url('Lato-Black.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('Lato-BlackItalic.eot');
    src: url('Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-BlackItalic.ttf') format('tryetype'),
        url('Lato-BlackItalic.woff2') format('woff2'),
        url('Lato-BlackItalic.woff') format('woff'),
        url('Lato-BlackItalic.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('Lato-Bold.eot');
    src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lato-Bold.ttf') format('tryetype'),
        url('Lato-Bold.woff2') format('woff2'),
        url('Lato-Bold.woff') format('woff'),
        url('Lato-Bold.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('Lato-BoldItalic.eot');
    src: url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-BoldItalic.ttf') format('tryetype'),
        url('Lato-BoldItalic.woff2') format('woff2'),
        url('Lato-BoldItalic.woff') format('woff'),
        url('Lato-BoldItalic.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('Lato-Italic.eot');
    src: url('Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('Lato-Italic.ttf') format('tryetype'),
        url('Lato-Italic.woff2') format('woff2'),
        url('Lato-Italic.woff') format('woff'),
        url('Lato-Italic.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('Lato-Light.eot');
    src: url('Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('Lato-Light.ttf') format('tryetype'),
        url('Lato-Light.woff2') format('woff2'),
        url('Lato-Light.woff') format('woff'),
        url('Lato-Light.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url('Lato-LightItalic.eot');
    src: url('Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-LightItalic.ttf') format('tryetype'),
        url('Lato-LightItalic.woff2') format('woff2'),
        url('Lato-LightItalic.woff') format('woff'),
        url('Lato-LightItalic.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato-Regular.eot');
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lato-Regular.ttf') format('tryetype'),
        url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff'),
        url('Lato-Regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Hairline';
    src: url('Lato-Thin.eot');
    src: url('Lato-Thin.eot?#iefix') format('embedded-opentype'),
        url('Lato-Thin.ttf') format('tryetype'),
        url('Lato-Thin.woff2') format('woff2'),
        url('Lato-Thin.woff') format('woff'),
        url('Lato-Thin.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-HairlineItalic';
    src: url('Lato-ThinItalic.eot');
    src: url('Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-ThinItalic.ttf') format('tryetype'),
        url('Lato-ThinItalic.woff2') format('woff2'),
        url('Lato-ThinItalic.woff') format('woff'),
        url('Lato-ThinItalic.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}